@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,700&display=swap');

* {
  font-family: Poppins;
}
:root {
  --blue01: #799FCB;
  --gray01: #EDEDED;
  --gray02: #DBDBDB;
  --red01: #F9665E;
}


body {
  background-color: var(--gray01);
  margin: 0px;
}
hr {
  border: 10px solid var(--gray02);
  margin: 32px 32px;
}


/*BODY*/
#body {
  padding: 0% 10% 0% 10%;
}
.text-title {
  margin-top: 16px;
  color: var(--blue01);
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}


/*LOGO*/
#logoContainer {
  text-align: center;
  margin: 32px 32px;
}
#logoText {
  font-size: 104px;
  font-weight: 700;
  color: var(--blue01);
  text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}
#logoIcon {
  font-size: 64px;
  color: var(--blue01);
  text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

/*FORMS*/
button {
  background-color: var(--blue01);
  display: block;
  padding: 8px;
  width: 100%;
  margin-bottom: 16px;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  font-size: 36px;
  font-weight: 700;
  color: var(--gray01);
  text-transform: uppercase;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}
.google {
  background-color: #DE5246;
  text-transform: lowercase;
  font-weight: 300;
}
.facebook {
  background-color: #3B5998;
  text-transform: lowercase;
  font-weight: 300;
}
input {
  background: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 8px 8px 8px;
  border: 4px solid var(--blue01);
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, .16),
    inset 0px 3px 6px rgba(0, 0, 0, .16);
  font-size: 24px;
  color: var(--blue01);
  text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}
input::placeholder {
  color: var(--blue01);
  font-weight: 300;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}
.form-title {
  color: var(--blue01);
  margin-bottom: 16px;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
.form-label {
  color: var(--blue01);
  font-size: 16px;
  font-weight: 700;
}

/*AUTHENTICATION FORM*/
.formAuthentication-back {
  color: var(--blue01);
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}


/*MODAL*/
#modal-backdrop {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 50%;
}
#modal-content {
  background-color: var(--gray01);
  position: fixed;
  z-index: 100;
  top: 32px;
  left: 50%;
  z-index: 200;
  width: 80%;
  padding: 16px;
  border: 4px solid var(--blue01);
  transform: translateX(-50%);
}

/*NAVIGATION*/
.navigationBar-container {
  background-color: var(--blue01);
  padding: 0px;
  font-size: 24px;
  font-weight: bold;
}
.navigationBar-menu {
  padding: 16px 10%;
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}
.navigationBar-tab {
  background-color: white;
  padding: 16px 10%;
  color: black;
  border-bottom: 4px solid var(--gray01);
}
.navigationBar-tab:last-of-type {
  border-bottom: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

/*SCHEDULE VIEWER*/
#scheduleViewer-containerCountdown {
  background-color: white;
  margin-top: 36px;
  border-radius: 18px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  padding: 16px;
  font-size: 36px;
  text-align: center;
}
#scheduleViewer-titleCountdown {
  font-weight: 700;
}
#scheduleViewer-durationCountDown {
  font-weight: 400;
}
#scheduleViewer-textCountdown {
  font-size: 64px;
}
#scheduleViewer-titleSchedule {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
#scheduleViewer-containerBlockEvents {
  margin-top: 36px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  padding: 16px;
  font-size: 16px;
  text-align: left;
}
#scheduleViewer-addBlockEvent {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.blockEvent-title {
  font-size: 16px;
  font-weight: 700;
}
.blockEvent-duration {
  font-size: 16px;
}
.blockEvent-icon {
  font-size: 16px;
  text-align: right;
}
#scheduleViewer-deleteSchedule {
  margin-top: 36px;
  font-size: 36px;
  color: var(--red01);
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}
