@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,700&display=swap');

* {
  font-family: Roboto;
}
:root {
  --blue01: #0071BC;
  --gray01: #AEB0B5;
  --gray02: #DBDBDB;
  --red01: #F9665E;
  --white01: #FFFFFF;
  --black01: #212121;
}


body {
  background-color: var(--white01);
  margin: 0px;

}
h1 {
  color: var(--blue01);
  font-size: 28px;
  font-weight: 700;
}
h2 {
  color: var(--blue01);
  font-size: 24px;
  font-weight: 700;
}
p {
  font-size: 16px;
}
hr {
  border: 10px solid var(--gray02);
  margin: 32px 32px;
}


/*BODY*/
#body {
  position: absolute;
  padding: 36px 10% 0% 10%;
  width: 100%;
  height: -webkit-fill-available;
}
.text-title {
  margin-bottom: 36px;
  color: var(--blue01);
  font-size: 16px;
  text-align: center;
}


/*LOGO*/
#logoContainer {
  text-align: center;
  margin: 32px 32px;
}
#logoText {
  font-size: 104px;
  font-weight: 700;
  color: var(--blue01);}
#logoIcon {
  font-size: 64px;
  color: var(--blue01);
}
#logoImage {
  width: 100%;
}

/*FORMS*/
button {
  background-color: var(--blue01);
  display: block;
  padding: 12px;
  width: 100%;
  margin-bottom: 16px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  color: var(--white01);
  text-transform: uppercase;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}
button:hover {
  opacity: 50%;
}
button:focus {
  opacity: 50%;
}
.google {
  background-color: #DE5246;
  text-transform: lowercase;
  font-weight: 300;
}
.facebook {
  background-color: #3B5998;
  text-transform: lowercase;
  font-weight: 300;
}
input {
  background: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 8px 8px 8px;
  border: none;
  border-bottom: 1px solid var(--gray01);
  font-size: 20px;
  color: var(--gray01);
}
input::placeholder {
  color: var(--gray01);
  font-weight: 300;
}
input:last-of-type {
  margin-bottom: 64px;
}
input:focus {
  outline: none !important;
  border: 1px solid var(--gray01);
}
.form-title {
  color: var(--black01);
  margin-bottom: 16px;
  font-size: 20px;
  text-align: left;
  font-weight: 700;
}
.form-label {
  color: var(--black01);
  font-size: 12px;
}

/*AUTHENTICATION FORM*/
.formAuthentication-back {
  color: var(--blue01);
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}


/*MODAL*/
#modal-backdrop {
  position: fixed;
  z-index: 200;
  top: 0px;
  left: 0px;
  background-color: rgba(33, 33, 33, .5);
  width: 100%;
  height: 100vh;
}
#modal-content {
  background-color: var(--white01);
  position: fixed;
  z-index: 300;
  top: 32px;
  left: 50%;
  z-index: 200;
  width: 80%;
  padding: 16px;
  transform: translateX(-50%);
}

/*NAVIGATION*/
.navigationBar-container {
  padding: 0px;
  font-size: 24px;
  font-weight: 700;
}
.navigationBar-menu {
  background-color: var(--blue01);
  padding: 16px calc(10% + 12px);
  color: white;
}
.navigationBar-tab {
  background-color: white;
  padding: 16px calc(10% + 12px);
  color: black;
  font-weight: 400;
}


/*SCHEDULE VIEWER*/
#body-title {
  margin-bottom: 36px;
  color: var(--blue01);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.body-header {
  background-color: var(--blue01);
  margin-top: 36px;
  padding: 8px 12px;
  color: var(--white01);
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
#body-backdrop {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, .5);;
  width: 100%;
  height: 100%;
}
#scheduleViewer-containerCountdown {
  background-color: white;
  border: solid 4px var(--blue01);
  border-top: 0px;
  padding: 16px;
  font-size: 36px;
  text-align: center;
}
#scheduleViewer-titleCountdown {
  color: var(--blue01);
  font-size: 16px;
  font-weight: 400;
}
#scheduleViewer-durationCountDown {
  color: var(--blue01);
  font-size: 16px;
  font-weight: 400;
}
#scheduleViewer-occurenceCountdown {
  color: var(--blue01);
  font-size: 16px;
  font-weight: 400;
}
#scheduleViewer-textCountdown {
  color: var(--blue01);
  font-size: 64px;
  font-weight: 700;
  line-height: 1em;
}
#scheduleViewer-titleSchedule {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
#scheduleViewer-containerBlockEvents {
  background-color: white;
  padding: 12px;
  border: solid 4px var(--blue01);
  border-top: 0px;
  font-size: 16px;
  text-align: left;
}
#scheduleViewer-addBlockEvent {
  color: var(--blue01);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.blockEvent-title {
  color: var(--blue01);
  font-size: 12px;
  font-weight: 700;
}
.blockEvent-duration {
  color: var(--blue01);
  font-size: 12px;
}
.blockEvent-icon {
  display: flex;
  align-items: center;
  color: var(--blue01);
  font-size: 16px;
  text-align: right;
}
.blockEvent-divider {
  height: 4px;
  background-color: var(--blue01);
  margin: 12px 0px;
}
#scheduleViewer-deleteSchedule {
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 24px;
  color: var(--gray01);
  text-align: center;
}

@media (min-width: 992px) {
  #body {
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    padding: 0% 30% 0% 30%;
  }
  .navigationBar-menu {
    padding: 16px calc(30% + 12px);
  }
  .navigationBar-tab {
    width: 40%;
    margin: auto !important;
    padding: 16px 12px;
  }
  #scheduleViewer-containerCountdown {
    padding: 16px 32px;
  }
  #scheduleViewer-containerBlockEvents {
    padding: 16px 32px;
  }
  #modal-content {
    width: 40%;
  }
}

@media (min-width: 1200px) {
}
